.main {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 0.5rem;
  max-width: 900px;
  width: 100%;
}

.repos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.pager {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.repoTitle {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.stars {
  font-size: 0.8rem;
}
